*{
	margin: 0;
	padding: 0;
}

a{
	color: #999;
	text-decoration: none;
}
a:hover{
	color: #FA7629;
	text-decoration: underline;
}


#top{
	width: 1000px;
	height: 41px;
	margin: 20px auto;
}
#logo{
	height: 41px;
	line-height: 41px;
	float: left;
}
#top_link{
	float: right;
	margin-top: 20px;
}
#top_link span{
	margin: 0 5px;
	color: #999;
}
#top_link img{
	vertical-align: bottom;
}
#nav{
	height: 97px;
	background-color: #8bad4c;
}
#banner{
	width: 1000px;
	height: 300px;
	background-color: #4a863d;
	margin: 0 auto;
}


#main{
	width: 1000px;
	margin: 0 auto;
	background-color: #d6bd00;
}
#left{
	width: 227px;
	height: 500px;
	background-color: #876344;
	float: left;
}
#right{
	width: 750px;
	height: 500px;
	background-color: #20bac2;
	float: left;
}
#activity{
	clear: both;
	width: 1000px;
	height: 300px;
	margin: 0 auto;
	background-color: #5c8082;
}
#footer{
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	background-color: #88a859;
}
