*{
	margin: 0;
	padding: 0;
}
#box{
	background-image: url(../images/form_bg.jpg);
	width: 1431px;
	height: 717px;
	margin: 0 auto;
}
#right{
	width: 600px;
	height: 717px;
	/* background-color: #20BAC2; */
	float: right;
}
#right h2{
	text-align: center;
	margin-top: 80px;
	margin-bottom: 80px;
}
#right span{
	display: inline-block;
	width: 100px;
	text-align: right;
	margin-top: 15px;
}
#right form{
	width: 350px;
	margin: 0 auto;
	/* background-color: #123456; */
}
#right input{
	width: 150px;
}
#color{
	height: 20px;
}
#right #btn{
	width: 200px;
	margin: 0 auto;
}
#right .btn{
	width: 80px;
	height: 30px;
	background-color: #20be48;
	border: none;
	margin: 0 5px;
	margin-top: 15px;
}